<header class="header header-mini" role="banner">
  <div class="header-wrapper">
    <div class="container clearfix">
      <div class="logo-wrapper">
        <h1 class="logo pull-left">
          <a class="logo-section logo-devlocal" href="http://devlocal.io">
            <span class="visuallyhidden">DevLocal</span>
          </a>

          <a class="logo-section logo-root" href="<%= root_url %>">
            <span class="visuallyhidden">Jobs</span>
          </a>
        </h1>
      </div>
    </div>
  </div>
</header>

<main class="content">
